body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a0a0a;
  color: #e6e6e6;
}

.container {
  max-width: 750px;
  margin: auto;
  padding: 30px;
}

h1 {
  color: white;
  font-size: 24px;
}

.card {
  background: #151515;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
}

.card h2 {
  color: #fff;
}

.card p {
  color: #bbb;
}

.social {
  margin-top: 30px;
  padding: 20px;
  background: #111;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
}

.social a {
  color: #ff3b7a;
  text-decoration: none;
  font-weight: bold;
}

.social a:hover {
  color: white;
}
