body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: skyblue;
}

canvas {
  display: block;
}

#gameOver {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  display: none;
}

#gameOver h1 {
  font-size: 60px;
  color: red;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}

/* kalpler */
.heart {
  position: absolute;
  color: red;
  font-size: 20px;
  animation: floatUp 3s linear infinite;
}

@keyframes floatUp {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-300px); opacity: 0; }
}
